<h1>Blockipedia</h1>
<p>Blockipedia is a site like wikipedia, you can create, view and  update your wikis!</p>
<% unless user_signed_in? %>
<%= link_to "Sign Up", edit_user_registration_path, class: 'btn btn-primary' %>
<% end %>
